
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Open Sans", "Helvetica Neue", Serif ;
  font-weight:300;
  color: #535f6b;
}

.no-padding-left {
  padding-left:0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
}

.footer-wrapper {
  width:100%;
  padding:50px 30px;
  background:#535f6b;

}

.footer-banner {
  padding:20px;
  background: #3A424A;
  color: white;
}

.footer .footer-wrapper .container {
  min-height:220px;
  padding:50px 0;
}

.footer .footer-wrapper .general .footer-heading {
  margin-bottom:5px;
}

.footer-heading {
  font-weight:300;
  font-size:12pt;
  color:white;
  padding: 0 0 2px 0;
  border-bottom:1px solid white;
}
.footer-text {
  font-size:9pt;
  color:white;
  border-bottom:1px solid white;
  padding: 8px 0 8px 0;
}

.footer-general {
  /*font-size:9pt;*/
  color:white;
  /*border-bottom:1px solid white;*/
  padding: 4px 0 4px 0;
}

.footer-general:first-child {
  margin-top:10px;
}

.footer-general a {
  color:white;
}

.footer-text a {
  color:white;
}

.footer .fa-5x {
  padding:0 5px;
  vertical-align: middle;
  color: white;
}

.footer .fa-2x {
  padding:0 15px 0 0;
  vertical-align: middle;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-top:0;
}

.btn-default {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:1px solid #fff;
  background:#003366;
  color: white;
}

.btn-primary {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:1px solid #003366;
  background: white;
  color: #003366;
}

.navButton {
  margin-top:22px;
  box-shadow: 2px;
}

.servicesButton {
  margin-top: -85px;
}

.dataButton {
  border:1px solid #fff;
  background:#fff;
  color: #003366;
}

h3 span {
  font-size: xx-large;
}

.alternative {
  background-color: white;
}

.aboutus .row .quoteBlock {
  background-color: #f1f1f1;
  height: auto;
  z-index: 5;
  padding: 7px 15px 7px 30px;
  right: 4%;
  color: black;
  box-shadow: 1px 1px 3px rgba(55, 55, 55, .59);
}

h4 {
  line-height: 1.5;

}

h4.blue::selection {
  background: #a8d1ff;
}
h4.blue::-moz-selection {
  background: #a8d1ff;
}

.row .col-sm-4 .list-group .alternative {
   background-color: white;
   color: #003366;
}

.row .col-sm-4 .list-group .alternative:hover {
  background-color: #003366;
  color: white;
}

.col-sm-12 .btn-default {
  float: right;
  margin-left: 10px;
  margin-top: 5px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-fluid {
  padding: 60px 15px 0;
  padding-right:0;
  padding-left:0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*code {*/
  /*font-size: 80%;*/
/*}*/

.index-nav {
  color: #fff;
  margin-top:60px;
  margin-bottom:30px;
}

.jumbotron-main .index-nav h2 {
  font-size:25px;
}

.index-nav i {
  padding-bottom:15px;
}

.bg-primary {
  background:#003366;
  color:white !important;
}

.bg-secondary {
  background:white;
  color:black !important;
}


.section {
  padding:60px;
}

.list-group {
  margin-top:40px;
  margin-bottom:40px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #003366;
  border-color: #325b84;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 18px 15px;
  margin-bottom: -1px;
  background-color: #003366;
  border: 1px solid #325b84;
  border-right:0;
  border-left:0;
}

a.list-group-item, button.list-group-item {
  color: #b2c1d1;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.list-group .fa-angle-right {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.wrapper{position:relative;}
.bottom{position:absolute; bottom:0;}

.jumbotron-main h2 {
  font-size: 60px;
}

.jumbotron-main h1 {
  margin-bottom:0;
}

.jumbotron-main p {
  font-size: 15px;
}

.img-circle {
  margin-bottom:20px;
  margin-top:40px;
}

.container-fluid .jumbotron {
  background: url('../img/snowy-mountain.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*height:80vh;*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  margin-bottom:0;
}

.container-fluid .jumbotron-main {
  min-height:500px;
  height:100vh;
}

.container-fluid .jumbotron-approach {
  min-height:500px;
  height:80vh;
}
.container-fluid .jumbotron-resources {
  min-height:300px;
  height:300px;
}

.container-fluid .jumbotron-resources h1 {
  margin-top:60px;
}

.container-fluid .jumbotron-contactus {

}

.container-fluid .jumbotron-contactus h1 {
  margin:60px 0;
}

.container-fluid .jumbotron-contactus .panel-heading h1 {
  font-size:30px;
}

.container-fluid .jumbotron-contactus .panel-body p {
  font-size:14px;
}

.container-fluid .jumbotron .pull-right {
  background-color: #f1f1f1;
  z-index: 5;
  margin-top: 175px;
  padding: 20px 20px 20px 20px;
  left: 5%;
  color: black;
  height: auto;
  box-shadow: 1px 0px 5px rgba(255, 255, 255, 0.58)
}

#resourcesTab {
  margin-top: 240px;
}

.section .row .col-sm-8 .col-sm-12 {
  background-color: #d8f0e2;
  z-index: 5;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 20px;
  left: 0%;
  color: black;
  height: auto;
  box-shadow: 1px 1px 3px rgba(55, 55, 55, .59);
}

.panel-quote {
  background: #DAE2E9;
  padding:15px;
}
/*.section .row .col-sm-8 .col-sm-12 {*/
  /*background-color: #d8f0e2;*/
  /*z-index: 5;*/
  /*margin-top: 0px;*/
  /*margin-bottom: 30px;*/
  /*padding: 20px;*/
  /*left: 0;*/
  /*color: black;*/
  /*height: auto;*/
  /*box-shadow: 1px 1px 3px rgba(55, 55, 55, .59);*/

/*}*/
/*.row .col-sm-4, img {*/
  /*display: inline-block !important;*/
  /*margin-bottom: 10px;*/
/*}*/


/*.swanInfoSheet {*/
  /*background-color: #f1f1f1;*/
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/
  /*padding: 20px;*/
  /*color: black;*/
  /*height: auto;*/
  /*box-shadow: 1px 1px 3px rgba(55, 55, 55, .59);*/

/*}*/

/*.quarterlyEarnings {*/
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/
  /*padding: 20px;*/
  /*color: white !important;*/
  /*background-color: #003366 !important;*/
  /*height: auto;*/
  /*box-shadow: 1px 1px 3px rgba(55, 55, 55, .59);*/

/*}*/
/*.row .quarterlyEarnings .years {*/
  /*padding-right: 0px;*/
  /*padding-left: 0px;*/

/*}*/

/*.row .quarterlyEarnings h1 {*/
  /*font-weight: 600;*/
  /*border-bottom: 1px solid white;*/
  /*margin-bottom: 35px;*/
/*}*/

/*.row .quarterlyEarnings .quarters {*/
  /*font-weight: 600;*/
  /*display: inline;*/
  /*border-bottom: none;*/
/*}*/



/*.iframe-container {*/
  /*padding-bottom: 80%;*/
  /*padding-top: 20px; height: 0; overflow: hidden;*/
/*}*/

/*.iframe-container iframe,*/
/*.iframe-container object,*/
/*.iframe-container embed {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
/*}*/

.navbar-default {
  background-color: #fff;  /*-------------------------////CHANGE THIS////-----------------------------*/
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  border:0;
}

.navbar-default .navbar-header .navbar-brand {
  /*text-transform: uppercase;*/
  /*font-family: 'Ek Mukta','Helvetica Neue',Arial,sans-serif;*/
  /*font-weight: 700;*/
  color: #849CA3;  /*-------------------------////CHANGE THIS////-----------------------------*/
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;  /*-------------------------////CHANGE THIS////-----------------------------*/
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  /*text-transform: uppercase;*/
  font-size: 18px;
  /*font-weight: 700;*/
  color: #222;  /*-------------------------////CHANGE THIS////-----------------------------*/
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #849CA3;  /*-------------------------////CHANGE THIS////-----------------------------*/
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #849CA3 !important;  /*-------------------------////CHANGE THIS////-----------------------------*/
  background-color: #fff;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: #fff;
}

.header-signup-button {
  color:#fff !important;
  padding-top:15px;
  padding-bottom:15px;
  margin-top:15px;
}

.header-login-button {
  color:#fff !important;
  padding-top:15px;
  padding-bottom:15px;
  margin-top:15px;
  margin-right: 15px;
}

@media(min-width:768px) {
  .navbar-default {
    /*border-color: rgba(255,255,255,.3);*/
    background-color: #fff;
    border-bottom:1px solid #ccc;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: rgb(255,255,255);
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
  }

  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: #333;
    font-size: 18px;
  }

  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: #849CA3;
  }

  .navbar-default.affix {
    /*border-color: rgba(34,34,34,.05);*/
    background-color: #fff;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #849CA3;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: #333;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: #849CA3;
  }

  .navbar-left {
    padding-left:30px;
  }

  .navbar-left > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .signup-btn {
    background: cornflowerblue;
    color: #fff !important;
  }
}

@media(max-width:768px) {


  .navbar-default {
    min-height: 80px;
  }

  .navbar-toggle {
    margin-top:23px;
    border-color: #849CA3 !important;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #849CA3;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #849CA3;
    border-color: #fff !important;
  }

  .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #fff;
  }

  .navbar-default .navbar-collapse {
    border-top:0;
  }

  .navbar-right > li > a {
    margin-top:0;
    margin-bottom:15px;
  }

  .navbar-left {
    padding-left:0;
  }

  .marketing-img {
    /*margin-top:30px;*/
  }

}

.data .col-sm-8 {
  position: relative;
}
.se-bio {
  position: absolute;
  background: #003366;
  bottom:40px;
  right:20px;
  width:75%;
  padding:10px 10px 150px 10px;

}